[user]
	# These values are set in ~/.gitconfig_local

[credential]
	helper = osxkeychain

[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[include]
	path = ~/.gitconfig_local


# from https://github.com/sapegin/dotfiles/blob/master/tilde/gitconfig
[push]
	# When pushing code, always push only your current branch to a branch of the same name
	default = current
	followTags = true

# not sure when or why I enabled auto rebasing? 
#[branch]
#	autosetuprebase = always
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
