[user]
	# These values are set in ~/.gitconfig_local

[credential]
	helper = osxkeychain

[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[include]
      path = ~/.gitconfig_local
