tap "homebrew/bundle"
# brew tap buo/cask-upgrade # https://github.com/buo/homebrew-cask-upgrade

# brew tap "homebrew/cask"
# brew tap "homebrew/cask-versions"
# brew tap "homebrew/core"

#######################
###     FORMULAE    ###
#######################
# brew "jandedobbeleer/oh-my-posh/oh-my-posh"
brew "awscli"
brew "ack"
brew "bash" # Latest Bash version
brew "bat"
brew "bitwarden-cli"
brew "c2patool" # Content Credentials https://c2pa.org/ found via https://blog.cloudflare.com/preserve-content-credentials-with-cloudflare-images/
brew "chezmoi"
brew "coreutils" # Those that come with macOS are outdated
brew "cloc"
brew "defaultbrowser"
brew "dum" # https://github.com/egoist/dum
brew "fd" # https://github.com/sharkdp/fd
brew "ffmpeg"
brew "flyctl"
brew "fzf"
brew "gh"
brew "git"
brew "git-filter-repo"
brew "gnupg"
brew "jj" # jj dvcs
brew "just"
brew "jq"
brew "mas" # Mac App Store CLI - https://github.com/mas-cli/mas
# brew "mise" # installed "manually" now by chezmoi (home/.chezmoiscripts/darwin/run_onchange_after_configure-defaults.sh.tmpl) # https://mise.jdx.dev/
brew "oh-my-posh"
brew "podman"
brew "pscale"
brew "ripgrep"
# brew "surrealdb/tap/surreal"
brew "starship"
brew "stripe-cli"
brew "stripe-mock"
brew "thefuck"
brew "zoxide"
brew "zsh-completions"
brew "zsh"

#######################
###      CASKS     ###
#######################
cask "affinity-designer"
cask "affinity-photo"
cask "affinity-publisher"
# cask "alt-tab"
cask "backblaze"
cask "backblaze-downloader"
cask "blender"
cask "brave-browser"
cask "cursor"
cask "db-browser-for-sqlite"
cask "discord"
cask "legcord" # 3rd Party Discord Client
cask "electrum"
cask "element"
cask "figma"
cask "firefox"
cask "ghostty"
cask "google-chrome"
cask "iina"
cask "iterm2"
cask "insta360-studio"
cask "karabiner-elements"
cask "keka"
cask "leader-key"
cask "microsoft-edge"
cask "netnewswire"
cask "notion"
cask "obsidian"
cask "orion"
cask "ollama"
cask "podman-desktop"
cask "raycast"
cask "stellarium"
cask "spotify"
cask "tableplus"
cask "telegram-desktop"
cask "transmission"
cask "tor-browser"
cask "utm"
cask "visual-studio-code"
cask "vivaldi"
cask "wezterm"
cask "whatsapp"
cask "zed"
cask "zen-browser"
cask "zulip"

#######################
###    QUICKLOOK    ###
#######################
# cask "qlimagesize" # failes not sure why
cask "qlmarkdown"
cask "qlstephen"
cask "quicklook-csv"
cask "quicklook-json"

#######################
###    FONT TOOLS   ###
#######################
brew "fontconfig" # https://wiki.freedesktop.org/www/Software/fontconfig/
cask "fontbase" # https://fontba.se/
cask "rightfont" # https://rightfontapp.com/
cask "fontgoggles" # https://fontgoggles.org/
cask "fontstand" # https://fontstand.com/
# brew "fnt" # use homebrew casks instead, for now https://github.com/alexmyczko/fnt
# cask "fontfinagler" # https://markdouma.com/fontfinagler
# cask "fontplop" # https://github.com/matthewgonzalez/fontplop
# cask "fontsmoothingadjuster" # https://www.fontsmoothingadjuster.com/

#######################
###  FONT EDITING   ###
#######################
cask "fontforge" # https://fontforge.org/
cask "fontcreator" # https://www.high-logic.com/font-editor/fontcreator
cask "fontlab" # https://www.fontlab.com/font-editor/fontlab/

#######################
### App Store Appes ###
######################
mas "Bitwarden", id: 1352778147 # using mas for Bitwarden instead of cask for some extra vetting/security
# mas 'Keynote', id: 409183694
mas 'Pages', id: 409201541
mas 'Numbers', id: 409203825
mas "Dato", id: 1470584107
mas "Actions", id: 1586435171
mas "Toolbox Pro for Shortcuts", id: 1476205977
mas "Xcode", id: 497799835
# mas "WhatsApp", id: 310633997

#######################
###      FONTS      ###
#######################
# file "~/.dotfiles/Brewfile.fonts"
