#!/bin/sh
# inspiration from https://github.com/driesvints/dotfiles/blob/main/clone.sh

# JUST an inspiration for now

# echo "Cloning repositories..."

# CODE=$HOME/Code

# # Sites
# git clone git@github.com:blade-ui-kit/blade-ui-kit.com.git $SITES/blade-ui-kit.com