#!/usr/bin/env sh

# brew package updates should be run whenever the Brewfile is updated or once a week.
#
# Source: {{ includeTemplate "private_dot_config/brew/Brewfile.tmpl" . | sha256sum }}
# Weekly: {{ output "date" "+%V" | trim }}

readonly aliases='{{ joinPath .chezmoi.workingTree "home/private_dot_bash_aliases" }}'
source "${aliases}"

bbic