{{- $name := promptStringOnce . "name" "Name" -}}
{{- $github_username := promptStringOnce . "github.user" "Github Username" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    email = {{ $name | quote }}

[data.github]
user = {{ $github_username | quote }}

{{/*
[git]
    autoCommit = true
    autoPush = true
 */}}